@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#header h1{
    color: white !important;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    display: block;
    height: 0px;
    border-radius: 0px;
    background-color: #313741;
}
::-webkit-scrollbar-thumb {
    background-color: #00d2ff;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: #313741;
}

.section-title{
    background: -webkit-linear-gradient(left, #3a7bd5, #00d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size:48px;

}

.resume-button{
    box-shadow: 0 0 20px #00d2ff;
}

.message-btn:hover{
    box-shadow: 0 0 20px #00d2ff;
}

.school .vertical-timeline-element-icon{
    -webkit-box-shadow: 0 0 0 4px #00d2ff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    box-shadow: 0 0 0 4px #00d2ff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

.vertical-timeline::before{
    background-color: #00d2ff;
}